src/main/resources/META-INF/users.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://www.wendll.org/schema/user"
            targetNamespace="http://www.wendll.org/schema/user"
            elementFormDefault="qualified"
>
    <element name="user">
        <complexType>
            <attribute name="id" type="string"></attribute>
            <attribute name="userName" type="string"></attribute>
            <attribute name="email" type="string"></attribute>
        </complexType>
    </element>
</schema>